:host{
    .red{
        color: rgb(121, 12, 148);}
    
    .grid{
        
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
        align-items: center;
        
        .grid-item{
            height: 50px;
            border: 3px, solid rgb(31, 170, 117);
            border-radius: 25px;
            background-color: rgb(131, 221, 90);
            text-shadow: 0 0 3px #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
    
}

