<p header>header</p>

<div content>
  <p>Bucle for</p>

  <div class="grid">
    <div class="grid-item" *ngFor="let n of nums">
      <!-- <span>{{ "item" + n }}</span> -->
      <span
        [ngClass]="{
          red: n > 7
        }"
        >{{ "item" + n }}</span
      >
    </div>
  </div>
  <div class="grid">
    <ng-template  ngFor let-n [ngForOf]="nums">
      <span class="grid-item"
        [ngClass]="{
          red: n > 7
        }"
        >{{ "anotherItem" + n }}</span
      >
    </ng-template>
  </div>
</div>




<p footer>footer</p>
